:root{
    --darkteal: #1A5276;
    --dark: #212F3C;
    --blue: #5499C7;
    --lightblue: #EBF5FB;
    --gray: #AAB7B8;
    --lightgray: #E5E8E8;
}

.sec {
    background-color: var(--lightblue);
}

/* forecast */
.forecast-font {
    font-size: 15px;
    min-width: fit-content;
}

#daily-sec {
    background-color: red;
    font-size: 18px;
    max-width: 40%;
}

#three-day-single {
    background-color: blue;
    max-width: 25%;
}

#three-day-date {
    font-size: 20px;
}

.three-day-text {
    font-size: 18px
}

#three-day-icon, #current-icon {
    max-width: 64px;
}

@media screen and (min-width: 1900px) {
    #three-day-single {
        background-color: pink;
        max-width: 20%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #daily-sec {
        min-width: min-content;
    }

    #three-day-single {
        background-color: green;
        max-width: 30%;
    }

    .three-day-text {
        font-size: 12px;
    }

}

@media screen and (min-width: 390px) and (max-width: 767px) {
    #daily-sec {
        /* min-width: fit-content; */
        max-width: 84%;
    }

    #three-day-single {
        background-color: purple;
        max-width: 80%;
    }
}

